<% include head.ejs %>


<body>

    <header class="about">
    <img src="img/1024.png" alt="">
    </header>

    <main class="home">
        <h1>About</h1>
        <h2>Meet Me</h2>
        <p>vind een fantastische eerste date</p>

        <a href="signUp">Aanmelden</a>
        <a href="login">Ik heb al een account <span>Log in</span></a>

    </main>

    <script src="js/java.js"></script>
</body>

</html>
