<% include head.ejs %>
<body>

    <header>
        <nav>
            <ul>
                <li id="matches"><a href="/">Matches</a></li>
                <li id="inbox" class="active"><a href="inbox">Inbox</a></li>
                <li id="profile"><a href="profile">Profiel</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <h1>Inbox</h1>

      <p>Nog geen chats.</p>

    </main>

    <footer>

    </footer>


    <script src="js/java.js"></script>
</body>

</html>
