<% include head.ejs %>

<body>

    <header class="login">
    <img src="img/1024.png" alt="">
    </header>

    <main>
        <h1>Log in</h1>

        <form action="">
            <fieldset>
                <legend>Log in</legend>
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" required>

                <label for="name">Wachtwoord</label>
                <input type="password" name="name" required>
            </fieldset>

            <button class="submit" type="submit">Log in</button>

        </form>

    </main>

    <footer>

    </footer>


    <script src="js/java.js"></script>
</body>
