<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/avc6bxl.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datingsite</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li id="matches" class="active"><a href="/">Matches</a></li>
                <li id="inbox"><a href="inbox">Inbox</a></li>
                <li id="profile"><a href="profile">Profiel</a></li>

            </ul>
        </nav>
    </header>

    <main>
      <h1>Matches</h1>
      <div class="filter">
        <p>33 resultaten</p>
        <button id="filter"></button>
      </div>
      <!-- MATCHES -->

      <% for (var index = 0; index < data.length; index++) { %>

      <article class="active"><a href="/<%=index%> %>">
        <div>
          <h2><%= data[index].name %></h2>
          <img src="img/user4.png" alt="">
        </div>
        <div>
          <p><%= data[index].dateIdea %></p>
          <a class="category" href="#">#<%= data[index].category %></a>
        </div>
      </a></article>

      <% } %>
    </main>

    <script src="js/java.js"></script>
</body>

</html>
