<% include head.ejs %>

<body>

    <header>
        <nav>
            <ul>
                <li id="matches"><a href="matches">Matches</a></li>
                <li id="inbox"><a href="inbox">Inbox</a></li>
                <li id="profile" class="active"><a href="profile">Profiel</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <h1>Profiel</h1>
      <button id="settings"></button>
      <article class="profile">
        <img src="img/user4.png" alt="">
        <h2>Lisa</h2>
        <p><span>18 jaar</span>, omgeving <span>Amsterdam</span> </p>
      </article>

      <section class="date-ideas-profile">
        <h3>Date ideeën</h3>
          <article>
            <p>"Ik houd erg van skien en wil daarom graag met jou een dagje skien in een skihal!""</p>
            <a class="category" href="#">#actief</a>
            <!-- <a href="#"> <img src="img/speech-bubble.svg" alt=""></a> -->
      </article>
    </section>

    <section>


    </section>

    </main>



    <script src="js/java.js"></script>
</body>

</html>
