<% include head.ejs %>

<body>

    <header>
        <nav>
            <ul>
                <li id="matches"><a href="/">Matches</a></li>
                <li id="inbox"><a href="inbox">Inbox</a></li>
                <li id="profile" class="active"><a href="profile">Profiel</a></li>

            </ul>
        </nav>
    </header>

    <main>
      <h1>Profiel</h1>
      <button id="settings"></button>
      <article class="profile">
        <img src="img/user4.png" alt="">
        <h2>Naam</h2>
        <p> <span>23 jaar</span>, omgeving <span>Amsterdam</span> </p>
      </article>

      <section class="date-ideas-profile">
        <h3>Date ideeën</h3>
          <article>
            <p>"Cocktails drinken in Amsterdam, bij Tunes Bar en daarna zien we wel."</p>
            <a class="category" href="#">#romantisch</a>
            <!-- <a href="#"> <img src="img/speech-bubble.svg" alt=""></a> -->
      </article>
    </section>

    <section>


    </section>

    </main>



    <script src="js/java.js"></script>
</body>

</html>
