<% include head.ejs %>

<body>

    <header class="login">
    <img src="img/1024.png" alt="">
    </header>

    <main>
        <h1>Aanmelden</h1>

        <form action="#">
            <fieldset>
                <legend>Aanmelden</legend>
                <label for="email">Voornaam*</label>
                <input type="text" name="email" id="email" required>

                <label for="name">Achternaam</label>
                <input type="text" name="name">

                <label for="email">E-mail*</label>
                <input type="text" name="email" id="email" required>

                <label for="name">Wachtwoord*</label>
                <input type="password" name="name" required>
            </fieldset> 

            <button class="submit" type="submit">Aanmelden</button>

        </form>

    </main>

    <footer>

    </footer>


    <script src="js/java.js"></script>
</body>
